.container {
    height: auto;
    width: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid red; */
}

.container>img {
    height: 180px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.information {
    margin-top: -4px;
    width: 100%;
    padding: 10px 18px 0px 20px;
    /* border: 1px solid red; */
    width: 88%;
}

.price {
    display: flex;
    height: 50px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.price>img {
    height: 35px;
    width: 35px;
    margin-top: 7px;
}

.price>p>label {
    font-size: 20px;
    font-weight: 700;
    color: #7065f0;
}

.price>p {
    font-size: 14px;
    font-weight: 800px;
    color: gray;
}

.name {
    /* border: 1px solid red; */
    margin-top: -0px;
    font-size: 20px;
    font-weight: 700;
}

.address {
    margin-top: -10px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 800px;
    color: gray;
    padding-bottom: 10px;
    /* border: 1px solid red; */
}

.lastDiv {
    display: flex;
    gap: 10px;
    margin-top: -10px;
    border-top: 1px solid gray;
}

.lastDiv img {
    height: 15px;
    width: 15px;
    position: relative;
    top: 14px;
}

.beds,
.bathroom,
.area {
    display: flex;
    font-size: 14px;
    gap: 8px;
    height: 35px;
    color: gray;
    /* border: 1px solid red; */
}