.container {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    height: 70px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.linkBox {
    display: flex;
    align-items: baseline;
    text-decoration: none;

}

.iconImage {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
}

.link {
    text-decoration: none;
    font-size: medium;
    margin-left: 30px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.link:hover {
    height: 30px;
    padding: 5px 5px 0px;
    border: 1px solid rgb(112, 101, 240);
    color: rgb(112, 101, 240);
    border-radius: 6px;
    font-weight: 600;
}

.buttonBox {
    justify-content: center;
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

button {
    text-align: center;
    height: 35px;
    width: 70px;
    border-radius: 6px;
    background-color: rgb(112, 101, 240);
    color: white;
    border: 0px;
}